.ticTacToeContainer .board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 3px solid black;
  width: 100vw;
  height: 100vw;
}

.ticTacToeContainer .board .row {
  height: 33%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ticTacToeContainer .board .row .square {
  height: 100%;
  width: 33%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gochi Hand", cursive;
  font-size: 70px;
}

.chatIconContainer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 44px;
  width: 44px;
  background-color: white;
  border-radius: 50%;
}

.chatIconContainer img {
  height: 100%;
  width: 100%;
}

.chatIconContainer .unreadMessages {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.turnText {
  font-family: "Shadows Into Light", cursive;
  text-align: center;
  text-transform: uppercase;
}

.gameOver div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameOver div .button {
  margin-right: 20px;
}

.gameOverText {
  text-transform: uppercase;
}
